@import "./utils/mixins";
@import "./utils/colors";
@import "./sections/header";
@import "./sections/next";
@import "./sections/contribution";
@import "./sections/thanks";

* {
    box-sizing: border-box;
    font-family: 'Francois One', sans-serif;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.row {
    --bs-gutter-x: 0!important;
}

img {
    max-width: 100%;
}