.loader {
    @include flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $light;
    height: 100vh;
    width: 100vw;
    animation: loader 0.5s ease 3s both;

    &_img {
        width: 150px;
        animation: loader_img 2.5s ease 0.3s 1 both;
    }
}

@keyframes loader {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes loader_img {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(30deg);
    }
    40% {
        transform: rotate(-30deg);
    }
    60% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}