.next {
    @include flex(column, center, center);
    background: none;
    border: none;
    box-shadow: none;

    &--light {
        color: white;
        font-size: 2rem;
    }

    &--dark {
        color: black;
        font-size: 1.8rem;

        @include under768 {
            display: none;
        }
    }
}