.next {
    @include flex;
    background: none;
    border: none;
    box-shadow: none;

    &--light {
        color: white;
    }

    &--dark {
        color: black;
    }

    &_text {
        margin-right: 0.5rem;
    }
}